@charset "UTF-8";

body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(10, 102, 1);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(120, 122, 120);
}

.basico {
    color: green;
}

.intermediario {
    color: orange;
}

.avancado {
    color: rgb(0, 13, 128);
}

.destaque {
    background-color: rgba(196, 196, 118, 0.658);
}