@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(./img/img.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 40px 80px rgba(0,0,0,0.65),
                0 18px 36px rgba(0,0,0,0.50),
                0 6px 18px rgba(0,0,0,0.35),
                0 0 60px rgba(0,150,255,0.06);
                backdrop-filter: blur(50px);
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 40px;
    outline: none;
    font-size: 18px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #d4d4d4;

}

.input-box i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
}


.remember-forgot label input {
    accent-color: #9f2aff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #d4d4d4;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    background-color: #ffffff;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 2);
    color: #fff;
    transition: all 0.5s ease;
}

.register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.register-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}