        body {
            background-color: rgb(239, 255, 182);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1 {
            color: rgb(0, 255, 255);
            background-color: goldenrod;
        }

        h2 {
            color: darkred;
        }

        p {
            text-align: justify;
        }