@charset "UTF-8";

body {
    color: rgb(0, 0, 0);
    background-color: #C6D8D3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    background-color: #F0544F;
    color: #FDF0D5;
}

img {
    width: 600px;
    border-radius: 10px;
    margin-top: 10px;
    border-image: fill;
}

ul:hover {
    color: #D81E5B;
    text-decoration: underline;
}