body {
    text-align: center;
    max-width: 760px;
    margin: auto;
    line-height: 1.7;
    padding: 0 20px;
    text-align: justify;
}

.mm1, .mm2 {
    text-align: center;
}

img {
    width: 750px;
    height: auto;
    border-radius: 50px;
}