body {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    max-width: 700px;
    margin: 20px auto
}

.grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

