@charset "UTF-8";


:root {
    --cor1: #9EBC9E;
    --cor2: #E6BEAE;
    --cor3: #40434E;
    --cor4: #BAA5FF;
    --cor5: #91A6FF;
}
* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: var(--cor4);
}

header {
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding: 40px;
}

header > h1 {
    color: rgb(255, 255, 255);   
}

nav {
    background-color: var(--cor2);
    padding: 10px;
    margin-top: ;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.336);
}

nav > a {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    padding: 5px;
    margin: 15px;
}

nav > a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

h2.TitulosSecundario {
    text-align: center;
    padding: 20px;
}

p {
    text-align: justify;
    max-width: 900px;
    margin: auto;
    padding: 10px;
    font-size: 2em;
}

